@import "tailwindcss";

@theme {
  --font-family-googleSansFlex: var(--font-google-sans-flex);
  --font-family-googleSansCode: var(--font-google-sans-code);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #000000;
  height: 100vh;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.font-googleSansCode {
  font-family: var(--font-google-sans-code), monospace !important;
}

.font-googleSansFlex {
  font-family: var(--font-google-sans-flex), sans-serif !important;
}
