@import "tailwindcss";

@theme {
  --font-family-googleSansFlex: var(--font-google-sans-flex);
  --font-family-googleSansCode: var(--font-google-sans-code);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #000000;
  height: 100vh;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.font-googleSansCode {
  font-family: var(--font-google-sans-code), monospace !important;
}

.font-googleSansFlex {
  font-family: var(--font-google-sans-flex), sans-serif !important;
}

/* Custom Scrollbar Styles */
* {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(139, 92, 246, 0.5) transparent !important;
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.4) !important;
  border-radius: 10px !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 92, 246, 0.6) !important;
}

*::-webkit-scrollbar-corner {
  background: transparent !important;
}

